{% load static %}  <!--查找并载入静态文件static的文件夹-->

<head>
    <!--引入jQuery的css-->
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <!--引入jQuery的js-->  
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <!--引入自己写的game.css-->
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <!--引入自己写的game.js-->
</head>

<body style="margin: 0">
    <div id="ac_game_12345678"></div>
    <script type="module">
        import {AcGame} from "{% static 'js/dist/game.js' %}";
        $(document).ready(function(){
            let ac_game = new AcGame("ac_game_12345678");
        });
    </script>
</body>
